
/* Global Styles */
:root {
    /* Colours */
    --background: linear-gradient(pink, skyblue);
    --main-background: #90E0EF;
    --main-shadow: #00B4D8;
    --text-colour: #03045E;
    /* Gradient Colours */
    --gradient-1: #bf0fff;
    --gradient-2: #49ff79;
    /* Fonts */
    --header-font: 'Audiowide', cursive;
    --counter-font: 'Bebas Neue', cursive;
    --text-font: 'Rajdhani', sans-serif;
    --code-font: 'Source Code Pro', monospace;
    --aux-font: 'Major Mono Display', monospace;
}

/* Animations for Title */
  @keyframes shiny {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Body/Global/CSS Reset */
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    touch-action: manipulation; 
}
body {
    background: var(--background);
    min-height: 100vh;
    font-family: var(--text-font);
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}
button {
    font-size: 3rem;
    background: none;
    border: none;
}
input [type="button"] { 
    touch-action: manipulation; 
}
h2 {
    font-size: 3rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Container/Main */
.container {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
}
/* Hero */
.hero { 
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
    gap: 0.8rem;
}
.welcome {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
    /* margin-bottom: -2rem; */
}
.title {
    font-size: 4rem;
    font-family: var(--code-font);
    line-height: 4rem;
    text-align: left;
    background-image: linear-gradient(
        90deg,
        var(--gradient-1),
        var(--gradient-2),
        var(--gradient-1)
    );
    background-size: 200%;
    background-position: 0 0;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shiny 3s ease-in infinite;
}
.info {
    font-family: var(--text-font);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}
/* Counters */
.counters {
    display: flex;
    justify-content: space-evenly;
}
.counter-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
.emoji {
    font-size: 3rem;
    background: none;
    border: none;
}
.emoji:active {
    transform: scale(.8);
}
.reset-emoji {
    font-size: 3rem;
    background: none;
    border: none;
    cursor: default;
}
.reset-emoji:active {
    transform: scale(.8);
}
/* Reset */
.reset {
    padding: 2rem 0 0 0;
}

/* Footer */
footer {
    position: relative;
    font-family: var(--text-font);
    font-size: 1rem;
    margin-top: 5rem;
    padding: 0 0 2rem 0;
    color: rgb(235, 255, 244);
}
footer a {
    font-size: 1.5rem;
    font-family: var(--aux-font);
    text-decoration: none;
    color: rgb(231, 255, 241);
    text-transform: uppercase;
}

@media screen and 
(min-height: 984px)  and   
(min-width: 640px) and 
(max-width: 1920px) {
    body {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        background: linear-gradient
        background(lightgreen, rgb(180, 144, 238));
        background-size: fill;
    }
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 968px;
        width: 600px;
        margin: 0 auto;
        background: linear-gradient(rgb(255, 200, 209), rgb(53, 179, 229));
        box-shadow: 5px 5px darkorchid;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hero {
        height: 400px;
        width: 80%;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    footer {
        margin-top: 80px;
        min-height: 100px;
    }
  }